<div class="container">
    <div *ngFor="let user of get">
        <div class="card border-secondary mb-3 my-auto mx-auto"
            style="max-width: 30rem;margin-top: 10em;">
            
            <div class="card-header"><img src="../../../assets/images/tweetAvatar.png" alt="...">{{user.userName}}</div>
            <div class="card-body">
                <h5 class="card-title">{{user.tweet}}</h5>
                <p class="card-text" style="font-size: small; font-weight: bold; color: #13416e;">Posted :<span>{{getTimeInAgoformat(user.created)}}</span></p>
            </div>
            <div class="card-header bg-light">
                <p *ngFor="let reply of user.replies|keyvalue"><span style = "color: #13416e; font-weight:bolder;">{{reply.key}}
                    Replied :</span>
                    {{reply.value}}</p>

            </div>
        </div>


    </div>
</div>